:root {
    --primary-color: #4070f4;
    --secondary-color: #2ecc71;
    --bg-color: #cdfcfe;
    /* --bg-color: white; */
  }

.dashboard-main{
    margin-top: 100px;
  }

.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input, select, .btnsub {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
  .btnsub {
    margin-top: 15px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .btnsub:hover {
    background-color: #45a049;
  }
  
  .output-container {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #e9f5e9;
  }