@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #4070f4;
  --secondary-color: #2ecc71;
  --bg-color: #cdfcfe;
}

body {
  height: 100%;
  width: 100%;
  background: var(--bg-color) !important;
}

header {
  position: fixed;
  width: 90vw;
  height: 10vh;
  margin-left: 5vw;
  margin-top: 2vh;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 10px;
  background-color: var(--primary-color);
  border: 3px solid black;
  border-radius: 50px;
}

.navbar {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 22px 0;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.navbar .hamburger-btn {
  display: none;
  color:black;
  cursor: pointer;
  font-size: 1.5rem;
}

.navbar .logo {
  /* gap: 10px; */
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: #fff;
  padding: 5px;
  border: 2px solid black;
  border-radius: 15px;
  
}

.navbar .logo h2 {
  font-weight: 750;
  font-size: 1.7rem;
  font-style: italic;  
}

.orange-logo {
  color: rgb(255, 136, 0);
  margin-right: 5px;
}

.green-logo {
  color: forestgreen;
  margin-left: 5px;
  
}


.navbar .links {
  display: flex;
  gap: 35px;
  list-style: none;
  align-items: center;
}

.navbar .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
  color: #000;
  cursor: pointer;
}

.navbar .links a {
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  transition: 0.1s ease;
}

.navbar .links a:hover {
  color: red;
}

.navbar .login-btn {
  border: none;
  outline: none;
  background: #fff;
  border: 2px solid black;
  color: black;
  font-size: 1rem;
  font-weight: 750;
  padding: 10px 18px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.15s ease;
}

.navbar .login-btn:hover {
  background: #ddd;
}

.form-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  max-width: 720px;
  background: #fff;
  border: 2px solid #fff;
  transform: translate(-50%, -70%);
}

.show-popup .form-popup {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease, opacity 0.1s;
}

.form-popup .close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  color: var(--primary-color);
  cursor: pointer;
}

.blur-bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: 0.1s ease;
}

.show-popup .blur-bg-overlay {
  opacity: 1;
  pointer-events: auto;
}

.form-popup .form-box {
  display: flex;
}

.form-box .form-content {
  width: 100%;
  padding: 35px;
}

.form-box h2 {
  text-align: center;
  margin-bottom: 29px;
}

form .input-field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.input-field input {
  height: 100%;
  width: 100%;
  background: none;
  outline: none;
  font-size: 0.95rem;
  padding: 0 15px;
  border: 1px solid #717171;
  border-radius: 3px;
}

.input-field input:focus {
  border: 1px solid var(--primary-color);
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #4a4646;
  pointer-events: none;
  transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) {
  padding: 16px 15px 0;
}

.input-field input:is(:focus, :valid) ~ label {
  transform: translateY(-120%);
  color: var(--primary-color);
  font-size: 0.75rem;
}

.form-box a {
  color: var(--primary-color);
  text-decoration: none;
}

.form-box a:hover {
  text-decoration: underline;
}

form :where(.forgot-pass-link, .policy-text) {
  display: inline-flex;
  margin-top: 13px;
  font-size: 0.95rem;
}

form button {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 14px 0;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  margin: 25px 0;
  background: var(--primary-color);
  transition: 0.2s ease;
}

form button:hover {
  background: var(--secondary-color);
  font-weight: 750;
}

.form-content .bottom-link {
  text-align: center;
}

.form-popup .signup,
.form-popup.show-signup .login {
  display: none;
}

.form-popup.show-signup .signup {
  display: flex;
}

.signup .policy-text {
  display: flex;
  margin-top: 14px;
  align-items: center;
}

.signup .policy-text input {
  width: 14px;
  height: 14px;
  margin-right: 7px;
}

@media (max-width: 950px) {
  .navbar :is(.hamburger-btn, .close-btn) {
    display: block;
  }

  .navbar {
    padding: 15px 0;
  }

  .navbar .logo img {
    display: none;
  }

  .navbar .logo h2 {
    font-size: 1.4rem;
  }

  .navbar .links {
    position: fixed;
    top: 0;
    z-index: 10;
    left: -100%;
    display: block;
    height: 100vh;
    width: 100%;
    padding-top: 60px;
    text-align: center;
    background: #fff;
    transition: 0.2s ease;
  }

  .navbar .links.show-menu {
    left: 0;
  }

  .navbar .links a {
    display: inline-flex;
    margin: 20px 0;
    font-size: 1.2rem;
    color: #000;
  }

  .navbar .links a:hover {
    color: #00bcd4;
  }

  .navbar .login-btn {
    font-size: 0.9rem;
    padding: 7px 10px;
  }
}

@media (max-width: 760px) {
  .form-popup {
    width: 95%;
  }

  .form-box .form-details {
    display: none;
  }

  .form-box .form-content {
    padding: 30px 20px;
  }
}

.back-top a{
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: white;
  background:var(--primary-color);
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
}

main{
  width: 100%;
  height: 100%;
}

.main-hero{
  position: relative;
  top: 12vh;
  width: 100%;
  height: 88vh;
}


.hero-section{
  width: 100%;
  height: 100%;
  position:relative;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 0 auto;
  padding: 2rem 1rem;
}
.hero-left{
  width: 60%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content:center;
  gap: 2rem;
  padding-left: 60px;
  padding-top: 60px;
}

.hero-section-heading{
  font-size: 2rem;
  color: black;
  font-weight: 500;
}

.hero-section-heading span{
  font-style: italic;
  font-size: 50px;
  font-weight: 800;
  margin: 0;
}

.motivation{
  color: var(--primary-color);
  font-weight: 500;
}

.hero-section-sub-heading{
  font-size: 45px;
  line-height: 45px;
}

.hero-section-description{
  margin-top: 1rem;
  width: 70%;
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
}

.animated-button {
  width: max-content;
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 700;
  color: var(--primary-color);
  box-shadow: 0 0 0 2px var(--primary-color);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: var(--primary-color);
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: var(--primary-color);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: white;
  border-radius: 12px;
  font-weight: 700;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: white;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px var(--primary-color);
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}


.hero-right{
  width: 40%;
  height: 100%;
  float: right;
  transform: translate(-15%,0);
  background: url(https://www.brainwonders.in/page_images/2024-03-28-13-10-03Brainwonders_Home_Banner_Image.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  mix-blend-mode: multiply;
}

footer{
  width: 100%;
  height: 10vh;
  position: relative;
  top: 12vh;
}